html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* normal css */
.main-header {
  height: 100%;
  width: 100%;
  background-image: url("./assets/backgrounds/h_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}